<h1> {{ headline }} </h1>
<div class="d-flex justify-content-evenly m-5" >
    {% for bird in birds %}
    <div class="card" style="width: 18rem;">
        <img src= {{bird.picture}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{bird.species}}</h5>
          <span>{{bird.country}}</span>
          <p class="card-text">{{bird.descroption}}...</p>
          {% if request.user.is_authenticated %}
              <a href="" class="btn btn-primary">READ</a>
              {% if bird in request.user.birds.all %}
                  <a href="{% url 'delete' bird.id %}" class="btn btn-danger">DELETE</a>  
              {% else %}
              <a href="{% url 'adding' bird.id %}" class="btn btn-success">ADD</a>
              {% endif %}
              
        {% endif %}
            </div>
      </div>
      {% endfor %}
    </div>